
/*Beige  : #f8E6C2
 marron : #9e5c0f 
font-size:15px;

  */

.hidden{
display: none
}


.carousel-control{
    color:#111;
    background-color:#111;
}
.navbar{
    font-family: 'PT Sans', sans-serif;
    background-color:#F8E6C2;
    border-bottom: 1px solid grey;
}
.restaurant-title{
    color:#111;
    font-size: 30px;
    display: inline;

}
.nav-word{
    color:#111;
    margin:12px;
}

.toggle{
    width:100%;
    padding: 10px 20px;
    text-align: right;
    color:#111;
    display: none;
    font-size:20px;
}

.menu{
    cursor: pointer;
}
ul{

    text-align: center;
}
li{
    list-style: none;
}
ul li{
    display: inline-block;
    font-size:25px;
}

ul li a:hover{
    text-decoration: none;
}
.active{
    display: block;
    cursor: pointer;
}

div.h-bt-reserve{
    height:40px;
    width:100px;
    border:1px solid black;
    padding: 20px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.nav-reserve{
        color:#111;
}
@media (max-width: 789px)   {
     header{
       top:150px;
       max-height:50%;
     }
    .restaurant-title{
        font-size: 20px;
    }
    .toggle{
        display: block;
    }
    ul{
        width:100%;
        display: none;
    }
    ul li{
        display: block;
        padding:10px;
    
    }
    /* espace du ul li  lorsque l'ecran est a 789px*/ 
    .active{
        padding-top: 100px;
    }
    
    section.h-about{
        padding-top: 200px;
    }
}

/* modal-date */
input#h-modal-date{
    cursor: pointer;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 15px;
}

header {
    position:relative;
    font-family: 'PT Sans', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../image/header-image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
    height:100%;
    padding-bottom: 500px;
}


.h-header-text{
    margin:20px;
}

section.h-about{
    padding-top:100px;
    padding-bottom: 100px;
    width:100%;
    background-color: #f8E6C2;
}


section.h-features{
    color:#FFF;
    height:300px;
    width:100%;
    background-color:#9e5c0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.h-about-title{
    color: #3e4f5c;
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
h2.h-about-title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #fcb941;
}

.h-food{
    width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:white;
}

.h-foot{
    display: flex;
    align-items: center;
    background-color:#F8E6C2;
    width:100%;
    height: 150px;
}



